@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

body {
    color: #999;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #999;
}

input,
button,
textarea {
    outline: none;
}